<div class="not__fount">
    <img src="../../images/not__found.png" alt="">
    <div class="not__fount--block">
        <div class="not__fount--title">Ошибка 404</div>
        <div>Мы не смогли найти страницу, которую Вы искали.</div>
    </div>
</div>