.not__fount {
  border: 1px solid #e7e8ec;
  background-color: #fff;
  padding: 20px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .not__fount--block {
    padding-left: 30px;
    color: #333; }
  .not__fount--title {
    margin-bottom: 10px;
    color: #8b4c23;
    line-height: 40px;
    font-size: 40px; }

/*# sourceMappingURL=not-found.component.css.map */
