.error__block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e8ec;
  padding: 20px 10px;
  background: #fff; }
  .error__block--error {
    padding-left: 30px; }
  .error__block--title {
    margin-bottom: 5px;
    color: #8b4c23;
    font-size: 20px;
    font-weight: 600; }
  .error__block--description {
    color: #8b4c23; }

/*# sourceMappingURL=app-error.component.css.map */
