<div class="error__block">
    <img src="../../images/error__cat.png" alt="">
    <div class="error__block--error">
        <div class="error__block--title">Произошла маленькая ошибка!</div>
        <div class="error__block--description">{{_messageErrorUser}}</div>
    </div>
</div>