.error
  &__block
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #e7e8ec
    padding: 20px 10px
    background: #fff
    &--error
      padding-left: 30px
    &--title
      margin-bottom: 5px
      color: #8b4c23
      font:
        size: 20px
        weight: 600
    &--description
      color: #8b4c23





