.basket__empty--block {
  display: flex;
  padding: 20px 10px;
  background: #fff;
  align-items: center;
  justify-content: center; }
  @media screen and (max-width: 767px) {
    .basket__empty--block {
      flex-direction: column; } }
@media screen and (max-width: 767px) {
  .basket__empty--images {
    margin-bottom: 10px; } }
.basket__empty--title {
  color: #8b4c23;
  font-size: 20px;
  font-weight: 600; }
  @media (min-width: 768px) {
    .basket__empty--title {
      padding-left: 30px; } }
.basket__preload {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  z-index: 1; }
  .basket__preload--item {
    vertical-align: middle;
    border-radius: 100%;
    background: #5e81a8;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: main__preload 0.8s linear infinite alternate;
    animation: main__preload 0.8s linear infinite alternate; }
    .basket__preload--item:nth-child(1) {
      -webkit-animation-delay: -0.8;
      animation-delay: -0.8s; }
    .basket__preload--item:nth-child(2) {
      -webkit-animation-delay: -0.53333s;
      animation-delay: -0.53333s; }
    .basket__preload--item:nth-child(3) {
      -webkit-animation-delay: -0.26666s;
      animation-delay: -0.26666s; }
.basket__block {
  border: 1px solid #e7e8ec;
  background-color: #fff;
  padding: 0 10px;
  max-height: 489px;
  overflow-y: auto;
  margin-bottom: 10px; }
  .basket__block--ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .basket__block--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #e7e8ec;
    overflow: hidden;
    color: #333; }
    @media screen and (max-width: 767px) {
      .basket__block--item {
        flex-direction: column; } }
    .basket__block--item:first-child {
      border-top: none; }
    .basket__block--item .icon {
      margin: 0;
      user-select: none;
      color: #908787;
      cursor: pointer;
      font-size: 17px;
      transition: color 0.3s ease; }
      .basket__block--item .icon:hover {
        color: #285473; }
  .basket__block--preview {
    position: relative;
    display: flex;
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
    overflow: hidden;
    background-color: #edeef0;
    border: 1px solid #e7e8ec; }
    @media (min-width: 768px) {
      .basket__block--preview {
        margin-right: 10px; } }
    @media screen and (max-width: 767px) {
      .basket__block--preview {
        margin: 0 auto 10px; } }
    .basket__block--preview img {
      display: block;
      max-width: 100%;
      height: auto;
      z-index: 10; }
  @media (min-width: 768px) {
    .basket__block--description {
      align-self: flex-start;
      width: 100%;
      padding-right: 5px; } }
  @media screen and (max-width: 767px) {
    .basket__block--description {
      margin-bottom: 15px;
      text-align: center; } }
  .basket__block--weight {
    color: #928787;
    font-size: 13px; }
  .basket__block--count {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .basket__block--count {
        min-width: 145px; } }
    @media screen and (max-width: 767px) {
      .basket__block--count {
        margin-bottom: 15px; } }
    .basket__block--count input[type=text] {
      width: 60px;
      height: 28px;
      border: 1px solid #d3d9de;
      margin: 0 10px;
      padding: 0;
      text-align: center;
      transition: all 0.3s ease; }
      .basket__block--count input[type=text]:focus {
        border-color: #5e81a8;
        outline: none; }
  .basket__block--amount {
    text-align: center;
    font-weight: 600; }
    @media (min-width: 768px) {
      .basket__block--amount {
        min-width: 130px; } }
    @media screen and (max-width: 767px) {
      .basket__block--amount {
        margin-bottom: 10px; } }
  .basket__block--remove {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .basket__block--remove {
        min-width: 30px; }
        .basket__block--remove .icon {
          display: inline-block; }
        .basket__block--remove .button {
          display: none; } }
    @media screen and (max-width: 767px) {
      .basket__block--remove .icon {
        display: none; }
      .basket__block--remove .button {
        display: inline-block; } }
.basket__total {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e8ec;
  padding: 10px;
  margin-bottom: 10px;
  background: #fafbfc;
  color: #000; }
  @media (min-width: 768px) {
    .basket__total {
      align-items: flex-end; } }
  .basket__total--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; }
    @media (min-width: 768px) {
      .basket__total--item {
        width: 300px; } }
  .basket__total--cost {
    font-weight: 700; }
  .basket__total--total {
    padding-top: 10px;
    font-size: 20px; }
.basket__order {
  display: flex;
  align-items: center;
  justify-content: center; }

@keyframes main__preload {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }
@-webkit-keyframes main__preload {
  from {
    -webkit-transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1); } }

/*# sourceMappingURL=product-basket.component.css.map */
