@import "../../mixin"

.basket
  &__empty
    &--block
      display: flex
      padding: 20px 10px
      background: #fff
      align-items: center
      justify-content: center
      @include _down
        flex-direction: column
    &--images
      @include _down
        margin-bottom: 10px
    &--title
      @include _up
        padding-left: 30px
      color: #8b4c23
      font:
        size: 20px
        weight: 600
  &__preload
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 75px
    height: 75px
    z-index: 1
    &--item
      vertical-align: middle
      border-radius: 100%
      background: #5e81a8
      display: inline-block
      width: 10px
      height: 10px
      margin: 3px 2px
      -webkit-animation: main__preload 0.8s linear infinite alternate
      animation: main__preload 0.8s linear infinite alternate
      &:nth-child(1)
        -webkit-animation-delay: -0.8
        animation-delay: -0.8s
      &:nth-child(2)
        -webkit-animation-delay: -0.53333s
        animation-delay: -0.53333s
      &:nth-child(3)
        -webkit-animation-delay: -0.26666s
        animation-delay: -0.26666s
  &__block
    border: 1px solid #e7e8ec
    background-color: #fff
    padding: 0 10px
    max-height: 489px
    overflow-y: auto
    margin-bottom: 10px
    &--ul
      list-style: none
      margin: 0
      padding: 0
    &--item
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px 0
      border-top: 1px solid #e7e8ec
      overflow: hidden
      color: #333
      @include _down
        flex-direction: column
      &:first-child
        border-top: none
      .icon
        margin: 0
        user-select: none
        color: #908787
        cursor: pointer
        font:
          size: 17px
        transition: color .3s ease
        &:hover
          color: #285473
    &--preview
      position: relative
      display: flex
      max-width: 75px
      max-height: 75px
      min-width: 75px
      min-height: 75px
      overflow: hidden
      background-color: #edeef0
      border: 1px solid #e7e8ec
      @include _up
        margin-right: 10px
      @include _down
        margin: 0 auto 10px
      img
        display: block
        max-width: 100%
        height: auto
        z-index: 10
    &--description
      @include _up
        align-self: flex-start
        width: 100%
        padding-right: 5px
      @include _down
        margin-bottom: 15px
        text-align: center
    &--weight
      color: #928787
      font:
        size: 13px
    &--count
      display: flex
      align-items: center
      justify-content: center
      @include _up
        min-width: 145px
      @include _down
        margin-bottom: 15px
      input[type=text]
        width: 60px
        height: 28px
        border: 1px solid #d3d9de
        margin: 0 10px
        padding: 0
        text-align: center
        transition: all .3s ease
        &:focus
          border-color: #5e81a8
          outline: none
    &--amount
      text-align: center
      font:
        weight: 600
      @include _up
        min-width: 130px
      @include _down
        margin-bottom: 10px
    &--remove
      display: flex
      align-items: center
      justify-content: center
      @include _up
        min-width: 30px
        .icon
          display: inline-block
        .button
          display: none
      @include _down
        .icon
          display: none
        .button
          display: inline-block
  &__total
    display: flex
    flex-direction: column
    border: 1px solid #e7e8ec
    padding: 10px
    margin-bottom: 10px
    background: #fafbfc
    color: #000
    @include _up
      align-items: flex-end
    &--item
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 5px
      @include _up
        width: 300px
    &--cost
      font:
        weight: 700
    &--total
      padding-top: 10px
      font:
        size: 20px
  &__order
    display: flex
    align-items: center
    justify-content: center

@keyframes main__preload
  from
    transform: scale(0, 0)
  to
    transform: scale(1, 1)
@-webkit-keyframes main__preload
  from
    -webkit-transform: scale(0, 0)
  to
    -webkit-transform: scale(1, 1)

