<div class="basket__block">
    <div class="basket__empty--block" *ngIf="_productArray.length == 0">
        <img src="../assets/empty__basket.png" class="basket__empty--images">
        <div>
            <div class="basket__empty--title">Ваша корзина пуста!</div>
        </div>
    </div>
    <ul class="basket__block--ul" *ngIf="_productArray.length != 0">
        <li class="basket__block--item" *ngFor="let product of _productArray">
            <div class="basket__block--preview">
                <div class="basket__preload">
                    <span class="basket__preload--item"></span>
                    <span class="basket__preload--item"></span>
                    <span class="basket__preload--item"></span>
                </div>
                <img [src]="product.productImage" alt="">
            </div>
            <div class="basket__block--description">
                {{product.productTitle}}
                <div class="basket__block--weight">{{product.productWeight}} грамм</div>
            </div>
            <div class="basket__block--count">
                <svg class="icon icon-minus-symbol" (click)="onDecrement(product)">
                    <use xlink:href="#icon-minus-symbol"></use>
                </svg>
                <input type="text" maxlength="3" [(ngModel)]="product.productCount">
                <svg class="icon icon-plus-symbol" (click)="onIncrement(product)">
                    <use xlink:href="#icon-plus-symbol"></use>
                </svg>
            </div>
            <div class="basket__block--amount">
                {{product.productCount * product.productPrice}} руб.
            </div>
            <div class="basket__block--remove" (click)="onDelete(product)">
                <div class="button">Удалить</div>
                <svg class="icon icon-cancel">
                    <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </li>
    </ul>
</div>

<div class="basket__total" *ngIf="_productArray.length != 0">
    <div class="basket__total--item"><div>Стоимость:</div> <span>{{_allTotalList}} рублей</span></div>
    <div class="basket__total--item"><div>Скидка:</div> <span>{{_discount}}</span></div>
    <div class="basket__total--item"><div>Доставка:</div> <span>{{_delivery}} рублей</span></div>
    <div class="basket__total--item basket__total--cost basket__total--total"><div>Итого:</div> <span>{{_allTotal}} рублей</span></div>
</div>

<div class="basket__order" *ngIf="_productArray.length != 0">
    <div class="button" routerLink="/order" routerLinkActive="active">
        Оформить заказ
    </div>
</div>
<div class="basket__order" *ngIf="_productArray.length == 0">
    <div class="button" routerLink="/goods" routerLinkActive="active">
        Товары
    </div>
</div>
