.contact__block {
  padding: 20px 10px;
  border: 1px solid #e7e8ec;
  background-color: #fff; }
  @media (min-width: 768px) {
    .contact__block {
      display: flex;
      align-items: flex-start;
      justify-content: space-between; } }
  .contact__block ul {
    margin: 0 0 10px;
    padding: 0;
    list-style-type: none;
    color: #333; }
  .contact__block li {
    margin-bottom: 15px;
    font-weight: 600; }
  .contact__block .icon {
    color: #99b1c6;
    margin: -5px 5px 0 0;
    vertical-align: middle;
    font-size: 20px; }
  .contact__block--title {
    margin-bottom: 15px;
    color: #8b4c23;
    font-size: 20px;
    font-weight: 600; }

/*# sourceMappingURL=contact-info.component.css.map */
