<div class="contact__block">
    <div *ngFor="let item of _contactArray">
        <div class="contact__block--title">Наши контакты в городе  {{item.city}}:</div>
        <div>
            <div>
                <ul>
                    <li *ngFor="let items of item.phone">
                        <svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg>
                        <a href="tel:{{items}}" title="{{items}}">{{items}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li *ngFor="let items of item.email">
                        <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
                        <a href="mailto:{{items}}" title="{{items}}">{{items}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<img src="../assets/contact.png" alt="">
    <div class="contact__block--block">
        <div class="contact__block--title">Наши контакты в городе Севастополь:</div>
        <div class="contact__block--contact">
            <div>
                <ul>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 00</li>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 01</li>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 02</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> delivery@mail.ru</li>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> eat@mail.ru</li>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> admin@mail.ru</li>
                </ul>
            </div>
        </div>
        <div class="contact__block--title">Наши контакты в городе Симферополе:</div>
        <div class="contact__block--contact">
            <div>
                <ul>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 04</li>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 05</li>
                    <li><svg class="icon icon-call-answer"><use xlink:href="#icon-call-answer"></use></svg> +7(978) 000 00 06</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> delivery@mail.ru</li>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> eat@mail.ru</li>
                    <li><svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg> admin@mail.ru</li>
                </ul>
            </div>
        </div>
        <div class="contact__block--title">
            Мы в других социальных сетях:
            <a href="#" title="" target="_blank"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a>
            <a href="#" title="" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
            <a href="#" title="" target="_blank"><svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg></a>
        </div>
    </div> -->
</div>
