@import "../../mixin"

.contact
  &__block
    padding: 20px 10px
    border: 1px solid #e7e8ec
    background-color: #fff
    @include _up
      display: flex
      align-items: flex-start
      justify-content: space-between
    ul
      margin: 0 0 10px
      padding: 0
      list-style-type: none
      color: #333
    li
      margin-bottom: 15px
      font:
        weight: 600
    .icon
      color: #99b1c6
      margin: -5px 5px 0 0
      vertical-align: middle
      font:
        size: 20px
    &--title
      margin-bottom: 15px
      color: #8b4c23
      font:
        size: 20px
        weight: 600