.callback
  &__validaty
    margin-bottom: -5px
    color: #8b4c23
    font:
      size: 12px
      style: italic
  &__block
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #e7e8ec
    background-color: #fff
    padding: 15px 10px
    margin-bottom: 15px
    &--form
      padding-left: 30px
    &--group
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
    &--label
      align-self: flex-start
      width: 110px
      color: #656565
      padding: 5px 10px 0 0
      text-align: right
      font:
        size: 13px
      &.aling__top
        padding-top: 0
    &--field
      max-width: 300px
      input[type=text],
      textarea
        width: 300px
        height: 28px
        border: 1px solid #d3d9de
        background: #fff
        box-sizing: border-box
        &.callback__validaty--error
          border-color: #8b4c23
          &:focus
            border-color: #8b4c23
        &.ng-pristine
          border-color: #d3d9de
        &:focus
          outline: none
          border-color: #5e81a8
      input[type=text]
        padding: 0 5px
      textarea
        padding: 5px
        min-height: 60px
        max-width: 300px
        max-height: 100px
  &__order
    display: flex
    justify-content: center
  &__success
    padding-left: 30px
    &--title
      margin-bottom: 15px
      font:
        size: 20px
    &--number
      &_block
        margin-bottom: 5px
      color: green
      font:
        size: 18px
        weight: 600
    &--router
      display: inline-block
      line-height: 15px
      color: #285473
      border-bottom: 1px dashed #285473
      cursor: pointer
      font:
        style: italic
      &:hover
        border-bottom-color: transparent



