<div *ngIf="!_statusOrder">
    <form [formGroup]="_eventForm" (ngSubmit)="onSubmit()">
        <div class="callback__block">
            <img src="../../images/order__edit.png" alt="">
            <div class="callback__block--form">
                <div class="callback__block--group">
                    <div class="callback__block--label">
                        Имя:
                    </div>
                    <div class="callback__block--field">
                        <input type="text" formControlName="userName" [ngClass]="_eventForm.controls['userName'].valid ? '': 'callback__validaty--error'">
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userName'].getError('required') && !_eventForm.controls['userName'].pristine">Как к Вам обращаться?</div>
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userName'].getError('maxlength')">У Вас очень длинное имя, мы не запомним :(</div>
                    </div>
                </div>
                <div class="callback__block--group">
                    <div class="callback__block--label">
                        Телефон:
                    </div>
                    <div class="callback__block--field">
                        <input type="text" formControlName="userPhone" [ngClass]="_eventForm.controls['userPhone'].valid ? '': 'callback__validaty--error'">
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userPhone'].getError('required') && !_eventForm.controls['userPhone'].pristine">Как с Вами связаться?</div>
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userPhone'].getError('maxlength')">Нам кажется, Ваш номер телефона — длинноват...</div>
                    </div>
                </div>
                <div class="callback__block--group">
                    <div class="callback__block--label">
                        Адрес:
                    </div>
                    <div class="callback__block--field">
                        <input type="text" formControlName="userAddress" [ngClass]="_eventForm.controls['userAddress'].valid ? '': 'callback__validaty--error'">
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userAddress'].getError('required') && !_eventForm.controls['userAddress'].pristine">Куда везти вкусняшки?</div>
                    </div>
                </div>
                <div class="callback__block--group">
                    <div class="callback__block--label aling__top">
                        Комментарий:
                    </div>
                    <div class="callback__block--field">
                        <textarea formControlName="userComment" [ngClass]="_eventForm.controls['userComment'].valid ? '': 'callback__validaty--error'"></textarea>
                        <div class="callback__validaty" *ngIf="_eventForm.controls['userComment'].getError('maxlength')">Пожалуйста, изложите Ваши мысли локаничней.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="callback__order">
            <button class="button" [disabled]="!_eventForm.valid">
                Готово
            </button>
        </div>
    </form>
</div>

<div *ngIf="_statusOrder">
    <div class="callback__block">
        <img src="../../images/order__success.png" alt="">
        <div class="callback__success">
            <div class="callback__success--title">Ваш заказ успешно оформлен!</div>
            <div class="callback__success--number_block">Номер вашего заказа: <span class="callback__success--number">{{_orderNumber}}</span></div>
            <div>Остались вопросы? Вам сюда — &laquo;<span class="callback__success--router" routerLink="/contact">Контакты</span>&raquo;</div>
        </div>
    </div>
    <div class="callback__order">
        <button class="button" routerLink="/goods">
            Заказать ещё?
        </button>
    </div>
</div>
