.callback__validaty {
  margin-bottom: -5px;
  color: #8b4c23;
  font-size: 12px;
  font-style: italic; }
.callback__block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e7e8ec;
  background-color: #fff;
  padding: 15px 10px;
  margin-bottom: 15px; }
  .callback__block--form {
    padding-left: 30px; }
  .callback__block--group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px; }
    .callback__block--group:last-child {
      margin-bottom: 0; }
  .callback__block--label {
    align-self: flex-start;
    width: 110px;
    color: #656565;
    padding: 5px 10px 0 0;
    text-align: right;
    font-size: 13px; }
    .callback__block--label.aling__top {
      padding-top: 0; }
  .callback__block--field {
    max-width: 300px; }
    .callback__block--field input[type=text],
    .callback__block--field textarea {
      width: 300px;
      height: 28px;
      border: 1px solid #d3d9de;
      background: #fff;
      box-sizing: border-box; }
      .callback__block--field input[type=text].callback__validaty--error,
      .callback__block--field textarea.callback__validaty--error {
        border-color: #8b4c23; }
        .callback__block--field input[type=text].callback__validaty--error:focus,
        .callback__block--field textarea.callback__validaty--error:focus {
          border-color: #8b4c23; }
      .callback__block--field input[type=text].ng-pristine,
      .callback__block--field textarea.ng-pristine {
        border-color: #d3d9de; }
      .callback__block--field input[type=text]:focus,
      .callback__block--field textarea:focus {
        outline: none;
        border-color: #5e81a8; }
    .callback__block--field input[type=text] {
      padding: 0 5px; }
    .callback__block--field textarea {
      padding: 5px;
      min-height: 60px;
      max-width: 300px;
      max-height: 100px; }
.callback__order {
  display: flex;
  justify-content: center; }
.callback__success {
  padding-left: 30px; }
  .callback__success--title {
    margin-bottom: 15px;
    font-size: 20px; }
  .callback__success--number {
    color: green;
    font-size: 18px;
    font-weight: 600; }
    .callback__success--number_block {
      margin-bottom: 5px; }
  .callback__success--router {
    display: inline-block;
    line-height: 15px;
    color: #285473;
    border-bottom: 1px dashed #285473;
    cursor: pointer;
    font-style: italic; }
    .callback__success--router:hover {
      border-bottom-color: transparent; }

/*# sourceMappingURL=callback-form.component.css.map */
