@import "../mixin"
.container
  max-width: 1000px
  min-height: 100%
  padding: 20px 20px 10px
  background-color: #edeef0
  border: 1px solid #e7e8ec
  margin: 0 auto
  box-sizing: border-box
.main
  &__page
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 15px
    &--open
      overflow: hidden
      .main__nav
        transform: translateX(0)
      .main__content
        @include _down
          transform: translateX(50%)
        &--layer
          @include _down
            display: block
    .icon
      color: #99b1c6
      &-add-to-cart
        @include _up
          font:
            size: 22px
        @include _down
          margin-right: 5px
          font:
            size: 18px
        &.animated
          animation-duration: 1s
          animation-fill-mode: both
          animation-name: bounce
          transform-origin: center bottom
          color: #78af7a
      &-favorite-heart-button
        @include _up
          font:
            size: 15px
        @include _down
          margin-right: 9px
          font:
            size: 16px
        &.animated
          animation-duration: 1s
          animation-fill-mode: both
          animation-name: bounce
          transform-origin: center bottom
          color: #f05c44
      &-shopping-bag
        @include _up
          font:
            size: 17px
        @include _down
          margin-right: 10px
          font:
            size: 16px
      &-fast-delivery
        @include _up
          font:
            size: 22px
        @include _down
          margin-right: 7px
          font:
            size: 19px
      &-phone-contact
        @include _up
          font:
            size: 18px
        @include _down
          margin-right: 7px
          font:
            size: 18px
      &-undo-arrow
        @include _down
          margin-right: 8px
          font:
            size: 18px
      &-bars
        @include _down
          color: #333
          font:
            size: 18px
  &__menu
    &--toggle
      cursor: pointer
      @include _down
        display: block
      @include _up
        display: none
  &__nav
    @include _down
      position: fixed
      left: 0
      top: 0
      bottom: 0
      width: 50%
      z-index: 15
      background-color: #fff
      border-right: 1px solid #dfe2e8
      transform: translateX(-100%)
      transition: transform .4s
    &--item
      @include _up
        margin-right: 10px
      @include _down
        border-left: 2px solid transparent
        display: block
        padding: 10px
    &--active
      @include _up
        font:
          weight: 600
        .icon
          color: #285473
      @include _down
        background-color: #f0f2f5
        border-color: #6285af
    &--back
      @include _up
        display: none
      font:
        weight: 600
  &__content
    transform: translateX(0)
    transition: transform .4s
    &--layer
      display: none
      @include _down
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 10
        background: rgba(#000, .7)
@keyframes bounce
  from, 20%, 53%, 80%, to
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    transform: translate3d(0,0,0)
  40%, 43%
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    transform: translate3d(0, -30px, 0)
  70%
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    transform: translate3d(0, -15px, 0)
  90%
    transform: translate3d(0,-4px,0)