<section class="container" [ngClass]="_openMenu ? 'main__page--open': ''">
    <div class="main__page">
        <div class="main__menu--toggle" (click)="onOpenMenu()">
            <svg class="icon icon-bars"><use xlink:href="#icon-bars"></use></svg>
        </div>
        <nav class="main__nav">
            <div class="main__nav--item main__nav--back" (click)="onOpenMenu()">
                <svg class="icon icon-undo-arrow">
                    <use xlink:href="#icon-undo-arrow"></use>
                </svg>
                Назад
            </div>
            <a class="main__nav--item" routerLink="/goods" routerLinkActive="main__nav--active" title="Товары" (click)="onOpenMenu()">
                <svg class="icon icon-shopping-bag">
                    <use xlink:href="#icon-shopping-bag"></use>
                </svg>
                Товары
            </a>
            <a class="main__nav--item" routerLink="/delivery" routerLinkActive="main__nav--active" title="Доставка"  (click)="onOpenMenu()">
                <svg class="icon icon-fast-delivery">
                    <use xlink:href="#icon-fast-delivery"></use>
                </svg>
                Доставка
            </a>
            <a class="main__nav--item" routerLink="/contact" routerLinkActive="main__nav--active" title="Контакты" (click)="onOpenMenu()">
                <svg class="icon icon-phone-contact">
                    <use xlink:href="#icon-phone-contact"></use>
                </svg>
                Контакты
            </a>
            <a class="main__nav--item" routerLink="/favorites" routerLinkActive="main__nav--active" title="Избранное" (click)="onOpenMenu()">
                <svg class="icon icon-favorite-heart-button" [ngClass]="_favoriteAdd ? 'animated': ''">
                    <use xlink:href="#icon-favorite-heart-button"></use>
                </svg>
                Избранное ({{_favoriteCount}})
            </a>
        </nav>

        <a routerLink="/basket" routerLinkActive="main__page--active">
            <svg class="icon icon-add-to-cart" [ngClass]="_successAdd ? 'animated': ''">
                <use xlink:href="#icon-add-to-cart"></use>
            </svg>
            Корзина ({{_productCount}})
        </a>
    </div>
    <div class="main__content">
        <router-outlet></router-outlet>
    </div>
    <div class="main__content--layer"></div>
</section>

