.container {
  max-width: 1000px;
  min-height: 100%;
  padding: 20px 20px 10px;
  background-color: #edeef0;
  border: 1px solid #e7e8ec;
  margin: 0 auto;
  box-sizing: border-box; }

.main__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px; }
  .main__page--open {
    overflow: hidden; }
    .main__page--open .main__nav {
      transform: translateX(0); }
    @media screen and (max-width: 767px) {
      .main__page--open .main__content {
        transform: translateX(50%); } }
    @media screen and (max-width: 767px) {
      .main__page--open .main__content--layer {
        display: block; } }
  .main__page .icon {
    color: #99b1c6; }
    @media (min-width: 768px) {
      .main__page .icon-add-to-cart {
        font-size: 22px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-add-to-cart {
        margin-right: 5px;
        font-size: 18px; } }
    .main__page .icon-add-to-cart.animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: bounce;
      transform-origin: center bottom;
      color: #78af7a; }
    @media (min-width: 768px) {
      .main__page .icon-favorite-heart-button {
        font-size: 15px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-favorite-heart-button {
        margin-right: 9px;
        font-size: 16px; } }
    .main__page .icon-favorite-heart-button.animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: bounce;
      transform-origin: center bottom;
      color: #f05c44; }
    @media (min-width: 768px) {
      .main__page .icon-shopping-bag {
        font-size: 17px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-shopping-bag {
        margin-right: 10px;
        font-size: 16px; } }
    @media (min-width: 768px) {
      .main__page .icon-fast-delivery {
        font-size: 22px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-fast-delivery {
        margin-right: 7px;
        font-size: 19px; } }
    @media (min-width: 768px) {
      .main__page .icon-phone-contact {
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-phone-contact {
        margin-right: 7px;
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-undo-arrow {
        margin-right: 8px;
        font-size: 18px; } }
    @media screen and (max-width: 767px) {
      .main__page .icon-bars {
        color: #333;
        font-size: 18px; } }
.main__menu--toggle {
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .main__menu--toggle {
      display: block; } }
  @media (min-width: 768px) {
    .main__menu--toggle {
      display: none; } }
@media screen and (max-width: 767px) {
  .main__nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 15;
    background-color: #fff;
    border-right: 1px solid #dfe2e8;
    transform: translateX(-100%);
    transition: transform 0.4s; } }
@media (min-width: 768px) {
  .main__nav--item {
    margin-right: 10px; } }
@media screen and (max-width: 767px) {
  .main__nav--item {
    border-left: 2px solid transparent;
    display: block;
    padding: 10px; } }
@media (min-width: 768px) {
  .main__nav--active {
    font-weight: 600; }
    .main__nav--active .icon {
      color: #285473; } }
@media screen and (max-width: 767px) {
  .main__nav--active {
    background-color: #f0f2f5;
    border-color: #6285af; } }
.main__nav--back {
  font-weight: 600; }
  @media (min-width: 768px) {
    .main__nav--back {
      display: none; } }
.main__content {
  transform: translateX(0);
  transition: transform 0.4s; }
  .main__content--layer {
    display: none; }
    @media screen and (max-width: 767px) {
      .main__content--layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(0, 0, 0, 0.7); } }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

/*# sourceMappingURL=app.component.css.map */
