@import "../../mixin"
.main
  &__list
    border: 1px solid #e7e8ec
    background-color: #fff
    margin-bottom: 10px
    max-height: 585px
    overflow-y: auto
    &--basket
      text-align: center
    &--ul
      list-style: none
      margin: 0
      padding: 0
    &--item
      padding: 10px
      border-top: 1px solid #e7e8ec
      overflow: hidden
      color: #333
      &:first-child
        border-top: none
      @include _up
        display: flex
        justify-content: space-between
    &--preview
      position: relative
      display: flex
      max-width: 75px
      max-height: 75px
      min-width: 75px
      min-height: 75px
      background-color: #edeef0
      border: 1px solid #e7e8ec
      @include _up
        margin-right: 10px
      @include _down
        margin: 0 auto 5px
      img
        position: relative
        display: block
        max-width: 100%
        height: auto
        z-index: 10
    &--description
      width: 100%
      @include _down
        margin-bottom: 10px
    &--title
      @include _down
        margin-bottom: 10px
        text-align: center
    &--weight
      color: #928787
      font:
        size: 13px
      @include _up
        margin-bottom: 3px
      @include _down
        text-align: right
        width: 50%
        order: 2
    &--price
      text-align: center
      @include _up
        align-self: center
        min-width: 150px
      @include _down
        margin-bottom: 15px
        font:
          weight: 600
          size: 18px
    &--buy
      .button
        margin-bottom: 15px
      @include _up
        align-self: center
        min-width: 135px
        text-align: right
      @include _down
        text-align: center
    &--favorites
      cursor: pointer
      white-space: nowrap
      user-select: none
      font:
        size: 11px
      &:hover
        color: rgba(#f05c44, .6)
      &.added
        color: #f05c44
      .icon
        margin: -3px 3px 0 0
        vertical-align: middle
  &__description
    @include _down
      display: flex
  &__consist
    @include _down
      order: 1
      width: 50%
    font:
      size: 13px
    svg
      position: absolute
      transition: transform .4s ease
      transform: rotate(0deg)
      margin: 6px 0 0 3px
      font:
        size: 9px
    span
      position: relative
      color: #285473
      border-bottom: 1px dashed #285473
      cursor: pointer
      &:hover
        color: rgba(#285473, .8)
        border-color: rgba(#285473, .7)
    &--ul
      padding: 5px 0 0
      margin-left: 25px
    &--block
      transition: all .6s ease
      max-height: 0
      overflow: hidden
      @include _down
        width: 200%
    &--visible
      svg
        transform: rotate(90deg)
      .main__consist--block
        max-height: 300px
        overflow: visible
  &__preload
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    width: 75px
    height: 75px
    z-index: 1
    &--item
      vertical-align: middle
      border-radius: 100%
      background: #5e81a8
      display: inline-block
      width: 10px
      height: 10px
      margin: 3px 2px
      -webkit-animation: main__preload 0.8s linear infinite alternate
      animation: main__preload 0.8s linear infinite alternate
      &:nth-child(1)
        -webkit-animation-delay: -0.8
        animation-delay: -0.8s
      &:nth-child(2)
        -webkit-animation-delay: -0.53333s
        animation-delay: -0.53333s
      &:nth-child(3)
        -webkit-animation-delay: -0.26666s
        animation-delay: -0.26666s
  &__search
    position: relative
    padding: 10px
    background: #fff
    border: 1px solid #e7e8ec
    margin-bottom: 15px
    &--block
      display: flex
      align-items: center
      .icon
        &-search
          font:
            size: 17px
          margin-right: 10px
          color: #929eb0
    &--input
      width: 100%
      padding: 0
      border: none
      box-sizing: border-box
      &:focus,
      &:active
        outline: none
        &::placeholder
          color: #c0c8d0
      &::placeholder
        color: #929eb0
    &--count
      display: block
      width: 10px
      height: 10px
      text-align: center
      line-height: 10px
      border: 1px solid #e7e8ec
      border-radius: 50%
      background: #fff
      color: #78af7a
      position: absolute
      top: 6px
      left: 18px
      font:
        size: 10px
@keyframes main__preload
  from
    transform: scale(0, 0)
  to
    transform: scale(1, 1)
@-webkit-keyframes main__preload
  from
    -webkit-transform: scale(0, 0)
  to
    -webkit-transform: scale(1, 1)
