.main__list {
  border: 1px solid #e7e8ec;
  background-color: #fff;
  margin-bottom: 10px;
  max-height: 585px;
  overflow-y: auto; }
  .main__list--basket {
    text-align: center; }
  .main__list--ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main__list--item {
    padding: 10px;
    border-top: 1px solid #e7e8ec;
    overflow: hidden;
    color: #333; }
    .main__list--item:first-child {
      border-top: none; }
    @media (min-width: 768px) {
      .main__list--item {
        display: flex;
        justify-content: space-between; } }
  .main__list--preview {
    position: relative;
    display: flex;
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
    background-color: #edeef0;
    border: 1px solid #e7e8ec; }
    @media (min-width: 768px) {
      .main__list--preview {
        margin-right: 10px; } }
    @media screen and (max-width: 767px) {
      .main__list--preview {
        margin: 0 auto 5px; } }
    .main__list--preview img {
      position: relative;
      display: block;
      max-width: 100%;
      height: auto;
      z-index: 10; }
  .main__list--description {
    width: 100%; }
    @media screen and (max-width: 767px) {
      .main__list--description {
        margin-bottom: 10px; } }
  @media screen and (max-width: 767px) {
    .main__list--title {
      margin-bottom: 10px;
      text-align: center; } }
  .main__list--weight {
    color: #928787;
    font-size: 13px; }
    @media (min-width: 768px) {
      .main__list--weight {
        margin-bottom: 3px; } }
    @media screen and (max-width: 767px) {
      .main__list--weight {
        text-align: right;
        width: 50%;
        order: 2; } }
  .main__list--price {
    text-align: center; }
    @media (min-width: 768px) {
      .main__list--price {
        align-self: center;
        min-width: 150px; } }
    @media screen and (max-width: 767px) {
      .main__list--price {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px; } }
  .main__list--buy .button {
    margin-bottom: 15px; }
  @media (min-width: 768px) {
    .main__list--buy {
      align-self: center;
      min-width: 135px;
      text-align: right; } }
  @media screen and (max-width: 767px) {
    .main__list--buy {
      text-align: center; } }
  .main__list--favorites {
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    font-size: 11px; }
    .main__list--favorites:hover {
      color: rgba(240, 92, 68, 0.6); }
    .main__list--favorites.added {
      color: #f05c44; }
    .main__list--favorites .icon {
      margin: -3px 3px 0 0;
      vertical-align: middle; }
@media screen and (max-width: 767px) {
  .main__description {
    display: flex; } }
.main__consist {
  font-size: 13px; }
  @media screen and (max-width: 767px) {
    .main__consist {
      order: 1;
      width: 50%; } }
  .main__consist svg {
    position: absolute;
    transition: transform 0.4s ease;
    transform: rotate(0deg);
    margin: 6px 0 0 3px;
    font-size: 9px; }
  .main__consist span {
    position: relative;
    color: #285473;
    border-bottom: 1px dashed #285473;
    cursor: pointer; }
    .main__consist span:hover {
      color: rgba(40, 84, 115, 0.8);
      border-color: rgba(40, 84, 115, 0.7); }
  .main__consist--ul {
    padding: 5px 0 0;
    margin-left: 25px; }
  .main__consist--block {
    transition: all 0.6s ease;
    max-height: 0;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .main__consist--block {
        width: 200%; } }
  .main__consist--visible svg {
    transform: rotate(90deg); }
  .main__consist--visible .main__consist--block {
    max-height: 300px;
    overflow: visible; }
.main__preload {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  z-index: 1; }
  .main__preload--item {
    vertical-align: middle;
    border-radius: 100%;
    background: #5e81a8;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px 2px;
    -webkit-animation: main__preload 0.8s linear infinite alternate;
    animation: main__preload 0.8s linear infinite alternate; }
    .main__preload--item:nth-child(1) {
      -webkit-animation-delay: -0.8;
      animation-delay: -0.8s; }
    .main__preload--item:nth-child(2) {
      -webkit-animation-delay: -0.53333s;
      animation-delay: -0.53333s; }
    .main__preload--item:nth-child(3) {
      -webkit-animation-delay: -0.26666s;
      animation-delay: -0.26666s; }
.main__search {
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #e7e8ec;
  margin-bottom: 15px; }
  .main__search--block {
    display: flex;
    align-items: center; }
    .main__search--block .icon-search {
      font-size: 17px;
      margin-right: 10px;
      color: #929eb0; }
  .main__search--input {
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box; }
    .main__search--input:focus, .main__search--input:active {
      outline: none; }
      .main__search--input:focus::placeholder, .main__search--input:active::placeholder {
        color: #c0c8d0; }
    .main__search--input::placeholder {
      color: #929eb0; }
  .main__search--count {
    display: block;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #e7e8ec;
    border-radius: 50%;
    background: #fff;
    color: #78af7a;
    position: absolute;
    top: 6px;
    left: 18px;
    font-size: 10px; }

@keyframes main__preload {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }
@-webkit-keyframes main__preload {
  from {
    -webkit-transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1); } }

/*# sourceMappingURL=product-list.component.css.map */
