<div class="main__search">
    <div class="main__search--block">
        <svg class="icon icon-search">
            <use xlink:href="#icon-search"></use>
        </svg>
        <span class="main__search--count">{{_filterSearchIndex}}</span>
        <input type="text" class="main__search--input" placeholder="Что будем искать?" [(ngModel)]="_filterSearch">
    </div>
</div>
<div class="main__list">
    <ul class="main__list--ul">
        <li class="main__list--item" *ngFor="let product of _productList | productListSearch : _filterSearch , let i = index">
            <div class="main__list--preview">
                <div class="main__preload">
                    <span class="main__preload--item"></span>
                    <span class="main__preload--item"></span>
                    <span class="main__preload--item"></span>
                </div>
                <img [src]="product.productImage">
            </div>
            <div class="main__list--description">
                <div class="main__list--title">{{product.productTitle}}</div>
                <div class="main__description">
                    <div class="main__list--weight">{{product.productWeight}} грамм</div>
                    <div class="main__consist" [class.main__consist--visible]="_toggleConsist[i]">
                        <span (click)="_toggleConsist[i]=!_toggleConsist[i]">
                            Состав
                            <svg class="icon icon-right-thin-chevron"><use xlink:href="#icon-right-thin-chevron"></use></svg>
                        </span>
                        <div class="main__consist--block">
                            <ul class="main__consist--ul">
                                <li *ngFor="let consist of product.productConsist">{{consist}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__list--price">{{product.productPrice}} руб./шт</div>
            <div class="main__list--buy">
                <button class="button" (click)="onBasket(product)" [disabled]="!product.productAvailable">
                    <span *ngIf="product.productAvailable">Добавить</span>
                    <span *ngIf="!product.productAvailable">Нет в наличии</span>
                </button>
                <div class="main__list--favorites" (click)="addFavorites(product)" [ngClass]="product.productFavorites ? 'added': ''">
                    <svg class="icon icon-favorite-heart-button">
                        <use xlink:href="#icon-favorite-heart-button"></use>
                    </svg>
                    <span *ngIf="!product.productFavorites">В избранное</span>
                    <span *ngIf="product.productFavorites">В избранном</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="main__list--basket">
    <button class="button" (click)="onToBasket()" [disabled]="_productArray.length == 0">В корзину</button>
</div>