@import "../../mixin"

.delivery
  &__block
    border: 1px solid #e7e8ec
    background-color: #fff
    padding: 20px 10px
    @include _up
      display: flex
      align-items: flex-start
      justify-content: center
    > div
      @include _up
        width: 50%
        margin: 0 25px
    &--title
      text-align: center
      margin-bottom: 10px
      color: #8b4c23
      font:
        size: 20px
    &--ul
      list-style-type: none
      padding: 0
      margin: 0 0 10px
      &_sub
        margin: 0
        padding: 5px 0 0 20px
    &--item
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 10px
      > span
        &:first-child
          width: 30%
    &--images
      text-align: center
      margin: 20px 0 10px
      @include _up
        display: none
      @include _down
        display: block