<div class="delivery__block" *ngIf="_timeArray">
    <div>
        <div class="delivery__block--title">Время работы:</div>
        <ul class="delivery__block--ul">
            <li class="delivery__block--item">
                <span>Доставка:</span>&nbsp;
                <span>с <b>{{_timeArray?.time_delivery_start}}</b> до <b>{{_timeArray?.time_delivery_end}}</b></span>
            </li>
            <li class="delivery__block--item">
                <span>Заказы:</span>&nbsp;
                <span>с <b>{{_timeArray?.time_order_start}}</b> до <b>{{_timeArray?.time_order_start}}</b></span>
            </li>
        </ul>
    </div>
    <div class="delivery__block--images">
        <img src="../assets/delivery-1.png">
    </div>
    <div>
        <div class="delivery__block--title">Время доставки и оплата:</div>
        <ul class="delivery__block--ul">
            <li class="delivery__block--item">Максимальное <br> время ожидания: &nbsp;<b>{{_timeArray?.time_waiting}} минут</b></li>
            <li>
                <span>Вид оплаты:</span>
                <div>
                    <ul class="delivery__block--ul_sub">
                        <ng-container *ngFor="let item of _timeArray?.pay_type">
                            <li *ngIf="item.available">
                                <b>{{item.type['name']}}</b>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

