.delivery__block {
  border: 1px solid #e7e8ec;
  background-color: #fff;
  padding: 20px 10px; }
  @media (min-width: 768px) {
    .delivery__block {
      display: flex;
      align-items: flex-start;
      justify-content: center; } }
  @media (min-width: 768px) {
    .delivery__block > div {
      width: 50%;
      margin: 0 25px; } }
  .delivery__block--title {
    text-align: center;
    margin-bottom: 10px;
    color: #8b4c23;
    font-size: 20px; }
  .delivery__block--ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px; }
    .delivery__block--ul_sub {
      margin: 0;
      padding: 5px 0 0 20px; }
  .delivery__block--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; }
    .delivery__block--item > span:first-child {
      width: 30%; }
  .delivery__block--images {
    text-align: center;
    margin: 20px 0 10px; }
    @media (min-width: 768px) {
      .delivery__block--images {
        display: none; } }
    @media screen and (max-width: 767px) {
      .delivery__block--images {
        display: block; } }

/*# sourceMappingURL=product-delivery.component.css.map */
