html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background: #fff
  color: #285473
  box-sizing: border-box
  font:
    family: 'Open Sans', Tahoma, sans-serif
    size: 15px
.icon
  display: inline-block
  margin-top: -5px
  vertical-align: middle
  width: 1em
  height: 1em
  stroke-width: 0
  stroke: currentColor
  fill: currentColor
a
  color: #285473
  text-decoration: none
  &:hover
    text-decoration: none
.button
  display: inline-flex
  border: none
  background-color: #5e81a8
  color: #fff
  padding: 9px 16px 8px
  cursor: pointer
  font:
    size: 12.5px
  border-radius: 2px
  &:disabled
    opacity: .7
    cursor: not-allowed
    background-color: #5e81a8
  &:hover,
  &:active,
  &:focus
    outline: none
    background-color: #6888ad

